/* general rules */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

.float_r {
    float: right;
}

.col55 {
    width: 55%;
    margin: 20px auto;
}

.col40 {
    width: 40%;
    margin: 20px auto;
}

.col30 {
    width: 30%;
    margin: 20px auto;
} 

.col20 {
    width: 20%;
}

.col15 {
    max-width: 15%;
}

/* Header rules */

.bgjumbo {
    background-color: rgb(44, 84, 109);
    min-width: 100%;
    /* width: 100px; */
    height: 550px;
    position: absolute;
    top: 100px;
    z-index: -10;
}

header div.container {
    padding: 0 7%;
    margin-top: 10vh;
}

header div.container h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.jumbotxt {
    width: 25%;
    margin-right: 5%;
}

/* 
#jumboimg {

}
 */

.btn {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
}

.btn_blue {
    color: white;
    background-color: blue;
}

/* main rules */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.row {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 100%;
}

.plan {
    border: 1px solid gray;
    padding: 0 20px;
}

.colcentral {
    margin: 20px 5%;
}

#entprs {
    margin: 20px auto;
}

/* carosello rules */

.debug {
    background-color: blue;
    opacity: 50%;
    width: 100%;
    height: 60vh;
}

.caros_squares {
    width: 64vh;
    height: 64vh;
    text-align: center;
}

.card {
    width: 32vh;
    height: 32vh;
    vertical-align: middle;
    color: white;
}

#card01 {
    background-color: rgb(81, 241, 148);
}

#card02 {
    background-color: rgb(82, 21, 39);
}

#card03 {
    background-color: rgb(0, 153, 255);
}

#card04 {
    background-color: rgb(255, 0, 0);
}

#card05 {
    background-color: rgb(255, 0, 0);
}

#card06 {
    background-color: rgb(110, 206, 219);
}

#card07 {
    background-color: rgb(17, 27, 116);
}

#card08 {
    background-color: rgb(255, 230, 0);
}

.caros_txt {
    max-width: calc(100% - 128vh);
    max-height: 64vh;
    padding: 20px;
    overflow-y: hidden;
}

/* free try rules*/

.bgtry {
    background-color: skyblue;
    padding: 50px 0;
}

/* FAQ rules */

/* footer rules */

footer {
    padding: 30px;
    color: white;
    background-color: black;
}

