/* general rules */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

h2 {
    font-size: 32px;
}

body p {
    font-size: 13px;
}

p.txt_small {
    font-size: 10px;
}

/* layout rules */

.container::after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

.float_r {
    float: right;
}

.col60 {
    width: 60%;
    margin: 20px auto;
}

.col55 {
    width: 55%;
    margin: 20px auto;
}

.col50 {
    width: 50%;
    margin: 20px auto;
}

.col45 {
    width: 45%;
    margin: 20px auto;
}

.col40 {
    width: 40%;
    margin: 20px auto;
}

.col35 {
    width: 35%;
    margin: 20px auto;
} 

.col30 {
    width: 30%;
    margin: 20px auto;
} 

.col25 {
    width: 25%;
}

.col20 {
    width: 20%;
}

.col15 {
    max-width: 15%;
}

.col10 {
    max-width: 10%;
}

.col5 {
    max-width: 5%;
}

.txtalign_c {
    text-align: center;
}

.txtalign_r {
    text-align: right;
}

.row {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 100%;
}

.btn {
    font-size: 11px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 6px 12px;
}

.btn_blue {
    color: white;
    background-color: #0061ff;
}

/* Header rules */
/* nav */

header nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 20px;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}

#menu_l li {
    margin-right: 20px;
}


#menu_r li {
    margin-left: 20px;
}

.logo {
    margin-top: 1px;
}

#menu_l, #menu_r {
    margin-top: 1px;
    padding: 0 40px;
}

/* jumbo rules */

header div.container {
    padding: 10%;
    padding-bottom: 0;
    margin-top: 100px;
}

header div.container h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

header .icon {
    font-size: 30px;
    margin-top: 15px;
}

.bgjumbo {
    background-color: #b4d0e7;
    min-width: 100%;
    height: 700px;
    position: absolute;
    top: 10px;
    z-index: -10;
}

/* main rules */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.sec_title {
    margin-top: 80px;
    margin-bottom: 50px;
}

/* fake radio rules*/


#fakeradio01 {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:  5px solid #0061ff;
    margin: 1px;
}

#fakeradio02 {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 1px;
}

div.tax p {
    display: inline-block;
    margin-left: 5px;
}

/* plan section rules */

.plan {
    border: 1px solid lightgray;
}

.colcentral {
    margin: 20px 5%;
}


.plan_header {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.plan_body {
    padding: 20px;
    height: 700px;
}

.plan_body p {
    width: auto;
    font-size: 11px;
    margin-top: 15px;
}

.plan_body .icon {
    display: inline-block;
    margin-bottom: auto;
    vertical-align: top;
}

.plan_body .features {
    display: inline-block;
    width:calc(100% - 16px);
}

.plan_body h3 {
    margin-top: 15px;
}

.plan_body .btn {
    display: inline-block;
    width: 100%;
    margin: 30px auto 10px;
    padding: auto;
    text-align: center;
}

.gray {
    color: gray;
}

.plan_body hr {
    width:25%;text-align:left;
    border-top: 1px solid lightgray;
    margin-bottom: 25px;
} 

.green {
    color: green;
}

/* 
#entprs {
    margin: 20px auto;
} */

/* carosello rules */

.caros_squares {
    width: 64vh;
    height: 64vh;
    text-align: center;
}

.card {
    width: 32vh;
    height: 32vh;
    vertical-align: middle;
    color: white;
}

#card01 {
    background-color: rgb(81, 241, 148);
}

#card02 {
    background-color: rgb(82, 21, 39);
}

#card03 {
    background-color: rgb(0, 153, 255);
}

#card04 {
    background-color: rgb(255, 0, 0);
}

#card05 {
    background-color: rgb(255, 0, 0);
}

#card06 {
    background-color: rgb(110, 206, 219);
}

#card07 {
    background-color: rgb(17, 27, 116);
}

#card08 {
    background-color: rgb(255, 230, 0);
}

.caros_txt {
    max-width: calc(100% - 128vh);
    max-height: 64vh;
    padding: 20px;
    overflow-y: hidden;
}

/* free try rules*/

.bgtry {
    background-color: #b4d0e7;
    padding: 50px 0;
}

#btn_try {
    padding-left: 35px;
    padding-right: 35px;
}

/* FAQ rules */

/* footer rules */

footer {
    padding: 30px;
    color: white;
    background-color: black;
}

